$myColor: #E5383B;
$font-stack: Raleway, sans-serif;

* {
    font-family: $font-stack;
}

nav {
    background-color: #660708 ;
    .nav-link {
        color: $myColor !important;
        text-decoration: none;
    }
}
body {
    background-image: url("../kuvat/Forest\ In\ Fog.jpg");
    background-repeat: none;
    background-size: cover;
}
h1 {
    color: #BA181B;
}
h1 > span {
    color: $myColor ;
}
a[target] {
    background-color: $myColor;
}
.alaviiva {
    border-color: #BA181B ;
}

.nimilaatikko {
    background-color: #660708;
    .nimi {
        color: #B1A7A6;
        font-size: x-large;
    }
}
.viivat {
    border-top: 3px solid #BA181B;
    border-bottom: 3px solid #BA181B;
    .tekstikenttä {
        color: #FFFFFF;
    }
}
.accordion-item {
    background-color: black !important;
    border-bottom: 1px solid black !important;
        .accordion-button {
            background-color: #660708 !important;
            color: #FFFFFF !important; 
        }
}
.tietoalaatikko {
    background-color: $myColor ;
}
.accordion-body {
    background-color: #BA181B !important;
    color: #FFFFFF !important;
}

.accordion-button:focus {
    border-color: black !important;
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    color: #FFFFFF !important;
}
.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
button {
    background-color: #BA181B !important;
    border-radius: 0% !important;
    color: #FFFFFF !important;
}